* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    padding: 1em;
    /* border: 2px solid; */
    border-radius: 1.5em;
}

.mainChild1 {
    padding: 1.9em;
}

.mainChild1 h1 {
    text-align: center;
}

.mainChild1 h1 a {
    text-decoration: none;
    color: #1F1F1F;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}

.mainChild2 h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.mainChild2 p {
    color: #575757;
    padding: 1em 0 1.5em 0;
}

#btn1 {
    width: 23em;
    height: 3em;
    font-size: 1em;
    font-weight: 700;
    color: #ffff;
    line-height: 1.4em;
    display: block;
    background-color: rgb(21, 21, 251);
    border: none;
    border-radius: 1em;
    cursor: pointer;
    transition: 0.2s ease;
}

#btn1:hover {
    background-color: #4524DB;
}

.hr_line {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    font-size: 1em;
    line-height: 3.6em;
}

.hr_line::before,
.hr_line::after {
    content: "";
    flex: 1;
    height: 1px;
    background: #dedede;
}

label {
    color: #5E5E5E;
}

#email {
    width: 23em;
    height: 3em;
    padding: 1em;
    font-size: 1em;
    font-weight: 500;
    font-family: 'merlo', 'sanserif';
    color: #000000;
    line-height: 1.4em;
    display: block;
    /* background-color: #f2f2f2; */
    border: 1px solid #dedede;
    border-radius: 0px;
    outline-color: #4524DB;
}

#btn2 {
     width: 23em;
    height: 3em;
    padding: 1em;
    font-size: 1em;
    font-weight: 700;
    font-family: 'merlo', 'sanserif';
    color: #7f7f8b;
    line-height: 1.4em;
    display: block;
    background-color: #fafafa;
    border: 1px solid #dedede;
    border-radius: 1em;
}

#footer_links {
    display: inline-flex;
    margin-top: 2em;
    padding-right: 1em;
    text-decoration: none;
    color: #000F9F;
}










@media screen and (max-width: 768px) {
    /* body {
        height: auto;
    } */

    .main {
        padding: 2em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}